*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #FFFFFF;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fcfcfc, #f9f8f9, #f6f5f6, #f0eeef, #eae7e7, #e4e0df, #ded9d7);
}
